<%- model_class = Absence -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:absenceType) %></th>
      <th><%= model_class.human_attribute_name(:permision) %></th>
      <th><%= model_class.human_attribute_name(:startTime) %></th>
      <th><%= model_class.human_attribute_name(:endTime) %></th>
      <th><%= model_class.human_attribute_name(:total) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @absences.each do |absence| %>
      <tr>
        <td><%= link_to absence.id, absence_path(absence) %></td>
        <td><%= absence.absenceType %></td>
        <td><%= absence.permision %></td>
        <td><%= absence.startTime %></td>
        <td><%= absence.endTime %></td>
        <td><%= absence.total %></td>
        <td><%=l absence.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_absence_path(absence), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      absence_path(absence),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_absence_path,
            :class => 'btn btn-primary' %>
