<%- model_class = Absence -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:absenceType) %>:</strong></dt>
  <dd><%= @absence.absenceType %></dd>
  <dt><strong><%= model_class.human_attribute_name(:permision) %>:</strong></dt>
  <dd><%= @absence.permision %></dd>
  <dt><strong><%= model_class.human_attribute_name(:startTime) %>:</strong></dt>
  <dd><%= @absence.startTime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:endTime) %>:</strong></dt>
  <dd><%= @absence.endTime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
  <dd><%= @absence.total %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              absences_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_absence_path(@absence), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              absence_path(@absence),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
